.product-detail_body{
    margin-top:var(--header-hight);
    min-height: 500px;
}
.link_taget_list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 12px;
    margin: 0;
}
.link_taget_item{
    margin-right: 4px;
}
.link_taget_link{
    font-size: 1.6rem;
    color: var(--text-color_2);
    font-weight: 500;
}
.link_taget_item span{
    font-size: 1.6rem;
    color: var(--text-color_2);
}
.link_taget_link-active{
    color: var(--text-color_1);
}

.img_carousel{
    border: 1px solid var(--color-2);
    background-color: black;
}

/* product_detail-rigth */
.product_detail-right{
    padding: 12px;
    background-color: var(--color-1);
    border-radius: 2px;
}
.product_detail_name{
    display: block;
    color: var(--text-color_3);
    line-height: 2.4rem;
}
.remaining_product{
    font-size: 1.4rem;
    color: var(--text-color_2);
    font-weight: 500;
}

.product_detail-price{
    display: flex;
    align-items: center;
    padding: 12px;
    margin: 12px 0 0 0 ;
    list-style: none;
    background-color: var(--color-3);
}
.product_detail_item{
    margin-right: 12px;
}
.product_detail_oldprice{
    color: var(--text-color_2);
    font-size: 2.2rem;
    font-weight: 500;
}
.product_detail_betwen{
    font-size: 2.4rem;
}
.product_detail_newprice{
    font-size: 2.2rem;
    color: var(--red-color-1);
    font-weight: 500;
}

.product_detail_size{
    list-style: none;
    margin: 26px 0 0 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.product_detail_size_item{
    margin-right: 12px;
}
.product_detail_size-link{
    font-size: 1.8rem;
    padding: 6px 12px;
    font-weight: 500;
    border: 1px solid var(--text-color_4);
}
.product_detail_size-link-active{
    color: var(--red-color-1);
}
.product_detail_size-title{
    color: var(--text-color_2);
    font-size: 1.6rem;
    margin-right: 20px;
}
.product_number-order{
    margin-top: 30px;
    display: flex;
    margin-bottom: 50px;
}
.product_number-order-title{
    margin-right: 20px;
    font-size: 1.6rem;
    color: var(--text-color_2);
}
.number_order_minus, .number_order_add{
    width: 40px;
    height: 30px;
    border: 1px solid var(--text-color_4);
    position: relative;
    cursor: pointer;
}
.number_order_minus-icon,.number_order_add-icon{
    font-size: 1.6rem;
    position: absolute;
    top: 0px;
    left: 10px;
    cursor: pointer;
}
.product_number-order input{
    width: 50px;
    font-size: 1.6rem;
    text-align: center;
    outline: none;
    border: none;
    border-top: 1px solid  var(--text-color_4);
    border-bottom: 1px solid  var(--text-color_4);
}
.order_item_add_to_cart{
    font-size: 1.8rem;
    background-color: var(--red-color-1);
    color: var(--color-1);
    padding: 8px;
    width: 200px;
    border-radius: 2px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}